<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport="true"
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="!(isHandset$ | async)">
    <mat-toolbar color="primary">things:</mat-toolbar>
    <mat-nav-list>
      <a *ngFor="let menuItem of menuItems"
        mat-list-item
        [routerLink]="menuItem.link">
        {{ menuItem.name }}
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>unoper</span>
      <span class="spacer"></span>
      <a *ngFor="let link of toolbarLinks" [href]="link.link" class="icon">
        <i [class]="link.icon" aria-label="Social media link"></i>
      </a>
    </mat-toolbar>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
